@import '~bootstrap/scss/bootstrap';

// body {
//   background-color: #BED3AB;
// }

body {
  font-weight: bold;
}

h1, h3 {
  font-weight: bold;
}

#nav.navbar.navbar-expand-md.navbar-dark.bg-primary {
  background-color: cornflowerblue;
}

#cardTitle {
  font-weight: bold;
}
